---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Values from '../../components/Values.astro';
---

<Layout title="Values">

  <main class="py-8">
    <!-- Hero Section -->
    <Hero 
      title="Values" 
      description="Guiding principles that fuel innovation, responsibility, and lasting impact in sustainable space marketing." 
    />

    <section class="py-16 bg-gray-50 dark:bg-secondary-500 text-center text-white">
    <p>
    At Green Orbit Digital, our core values are the guiding principles that shape our approach to every project, every partnership, and every campaign we lead. With a focus on sustainability, innovation, and responsibility, these values propel us toward our mission of transforming the space industry and beyond into a force for positive change.
    </p>
    </section> 

    <section class="py-16 bg-gray-50 dark:bg-secondary-500 text-center text-white">
        <!-- Values Component -->
          <Values />
    </section>

    <!-- Careers CTA -->
    <section class="py-16 bg-gray-50 dark:bg-secondary-500 text-center text-white">
      <div class="container-custom max-w-3xl mx-auto">
        <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">Join Our Team</h3>
        <p class="text-gray-600 dark:text-white mb-8">
          We’re always on the lookout for passionate professionals who share our vision for a more sustainable space industry. Check out our current openings and join us on our mission.
        </p>
        <a href="/careers" class="btn-primary">View Open Positions</a>
      </div>
    </section>
  </main>

</Layout>