---
/**
 * CookieYes Cookie Policy Embed
 * This will inject the dynamic cookie policy table provided by CookieYes.
 */
---

<div id="cky-policy-container"></div>

<!-- CookieYes script that injects content into the container -->
<script is:inline src="https://cdn-cookieyes.com/client_data/58366b5b83a0075b30699f8a/cookie-policy/script.js"></script>