---
---
    <div class="card p-8 md:p-12 border border-gray-200 dark:bg-secondary-500">
      <div class="grid md:grid-cols-2 gap-8 items-center">
        
        <!-- Left Column: Text -->
        <div class="text-left">
          <h2 class="mb-4 text-white dark:text-white text-3xl font-semibold">Stay Updated</h2>
          <p class="text-gray-300 dark:text-white max-w-lg">
          Subscribe now and join a community of forward-thinking professionals dedicated to sustainable marketing and innovation in the space and science sectors.</p>
          <p class="text-gray-300 dark:text-white max-w-lg">
          As a new subscriber, you’ll receive exclusive insights, expert tips, early access to offers, and inspiring stories that help you drive impactful, planet-positive marketing campaigns.</p>
          <p class="text-gray-300 dark:text-white max-w-lg">
          Stay informed, stay inspired, and take your sustainability efforts to new heights with Green Orbit Digital.
          </p>
        </div>

        <!-- Right Column: Newsletter Signup Form -->
        <div>
        <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "143471159",
            formId: "bea8361f-a3e2-4e42-8721-17eca67bcc4d",
            region: "eu1"
          });
        </script>
        </div>

      </div>
    </div>